.Container {
  justify-content: center;
  margin: 20px;
}

.SearchBarContainer {
  /* position: relative; */
  display: flex;
  justify-content: center;
  /* margin-bottom: 20px; */
  width: 100%;
  align-items: center;
}

.PoseContainer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.SectionLabelContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.SectionLabel {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.EmptySearch {
  height: 60vh;
}

.ButtonContainer {
  justify-content: center;
  display: flex;
}
