.FlowGenerator {
  text-align: center;
  align-items: center;
  margin: 0px 40px;
  padding-bottom: 60px;
}

.TextContainer {
  margin: 0px 20px;
}

#Flow {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#Pose {
  margin-bottom: 20px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  text-align: center;
}

.error {
  color: red;
}

.Sheet {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-top: 0px;
  overflow: auto;
}

.EmptyFlow {
  font-weight: 500;
}
