#Container {
  background-color: lavender;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  /* Adds shadow to nav bar */
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: slategray;
  font-size: 20px;
  font-weight: 600;
}
